**/.DS_Store
.git

**/node_modules
**/.pnpm-store
**/.env

server/swagger.json
client/pnpm-lock.yaml
server/pnpm-lock.yaml

server/dist
server/logs
server/test
server/.tmp
server/.venv

server/views/index.ejs

server/data/*
!server/data/.gitkeep

server/terms/*
!server/terms/_template
!server/terms/cloud

client/dist
