docker-compose.override.yml
.idea
.DS_Store

node_modules

# Lockfiles other than root pnpm-lock.yaml
package-lock.json
yarn.lock
client/pnpm-lock.yaml
server/pnpm-lock.yaml
.pnpm-store
node-compile-cache

# Chart dependencies
**/charts/*.tgz

tmp/
.tmp*

.env
